[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hyperopt = "*"
mlflow = "*"
pandas = "*"
prefect = "*"
prefect-aws = "*"
scikit-learn = "*"
xgboost = "*"
prefect-email = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
