[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
flask = "*"
gunicorn = "*"
pymongo = "*"
s3fs = "*"
boto3 = "*"
psycopg2-binary = "*"
prefect = "*"
optuna = "*"
mlflow = "==1.28.0"
scikit-learn = "==1.1.2"

[dev-packages]
deepdiff = "*"

[requires]
python_version = "3.8"
